.banner {
    height: 223px;
    border-radius: 25px;
    color: white;
    margin: 30px 60px;
    align-content: center;
    text-align: center;
    font-size: 48px;
    background-image:url("IMG.png");
    background-position: center;

}

