.card {
    width: 300px;
    background-color: white;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;

    &_image {
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    &_title {
        font-size: 14px;
    }
}