.carousel {
    position: relative;
    height: 415px;
    width: 100%;
    @media (max-width: 768px) {
        height: 255px;
      }

    button {
        border: none;
        background-color: transparent;
        display: hidden;
        color: white;
    }

    &_ChevronGauche {
        position: absolute;
        content: "";
        color: white;
        inset: 0;
        top: 40%;
        cursor: pointer;
        left: 20px;
        @media (max-width: 768px) {
            width: 20px;
          }
    }
    &_ChevronDroit {
        position: absolute;
        content: "";
        inset: 0;
        top: 40%;
        cursor: pointer;
        left: calc(100% - 70px);
        @media (max-width: 768px) {
            width: 20px;
            left: calc(100% - 40px);
          }
    }

    &_compteurImages {
        position: relative;
        font-size: 18px;
        font-weight: 500;
        color: white;
        margin-top: 340px;
        text-align: center;
        @media (max-width: 768px) {
            display: none;
          }
    
    }

    &_img {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        inset: 0;
        object-fit: cover;
        border-radius: 1rem;
    }
    }




