.error {
    color: #FF6060;
    font-family: "Montserrat", sans-serif;
    display: block;
    width: 100%;
    text-align: center;
    @media (max-width: 450px) {
        margin: 55px 0;
    }

    span {
        font-size: 288px;
        font-weight: 700;
        @media (max-width: 450px) {
            font-size: 96px
        }
    }
    
    h4 {
        font-size: 36px;
        margin: 30px 0;
        font-weight: 400;
        @media (max-width: 450px) {
            font-size: 18px;
            margin: 55px 0;
        }
    }

    a {
        color: black;
        font-size: 18px;
        text-decoration: underline;
        @media (max-width: 450px) {
            font-size: 14px
        }
    }

    p {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}


