.logement {
    display: flex;
    flex-direction: column;
    padding: 30px 60px;
    font-family: "Montserrat", sans-serif;
}

.ficheLogement {
    display: flex;
    margin-top: 30px;

    h4 {
        color: black;
        font-weight: 400;
        margin-top: 10px;
        font-size: 18px;
        margin-bottom: 10px;
    }

    h1 {
        color: #FF6060;
        font-weight: 400;
        margin: 0;
        font-size: 36px;
    }

    &_description {
        display: flex;
        white-space: nowrap;
        flex-wrap: wrap;
        &-tags {
            display: flex;
            align-items: center;
            padding-inline: 20px;
            margin: 10px 20px 0 0;
            height: 30px;
            font-size: 14px;
            background-color: #FF6060;
            color: white;
            border-radius: 10px;
            font-weight: 500;
        }
    }
}

.ficheLogement_photo {
    &-nom {
        display: flex;
        gap: 10px;
        color: #FF6060;
        justify-content: flex-end;

        p {
            display: flex;
            text-align: right;
            font-size: 18px;
            width: 93px;
            height: 52px;
            align-items: center;
        }

        img {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            margin-top: 15px;
        }
    }

    &-etoiles {
        display: flex;
        font-size: 30px;
        gap: 10px;
    }
}




.span1 {
    color: #FF6060;
}

.span2 {
    color: #E3E3E3;
}

.collapseLogement {
    display: flex;
    gap: 2rem;
    margin-top: 20px;
    width: 100%;
}





/** média query */

@media (max-width: 768px) {
    .compteurImages { 
        display: none; 
    }
    .ficheLogement, .collapseLogement { 
        display: block; 
    }
    .description { margin-bottom: 30px; }
    .ficheLogement_photo {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .ficheLogement_photo-etoiles {
        align-items: center;
        justify-content: left;
    }
    .ficheLogement_description-tags { 
        font-size: 10px; 
    }
    .ficheLogement_description { 
        gap: 10px; 
    }
}



@media (max-width: 450px) {
  .ficheLogement_description-tags { margin-right: 10px; }
  .ficheLogement_description { gap: 0; }
  .ficheLogement_photo { margin-top: 10px; }
  .description-content, .equipement-content { font-size: 12px; }
  .description-header, .equipements-header {
      font-size: 13px;
      padding: 8px 0px 8px 20px;
  }
  .span1, .span2 { font-size: 18px; }
}


@media (max-width: 401px) {
  .ficheLogement_photo-etoiles { font-size: 15px; gap: 5px; }
  .carrousel-logement img { height: 255px; }
  .ficheLogement_description h1 { font-size: 18px; }
  .ficheLogement_description h4 { font-size: 14px; margin: 0; }
  .ficheLogement_photo-nom { align-items: center; }
  .ficheLogement_photo-nom img {
      width: 45px;
      height: 45px;
      margin: 0;
  }
  .ficheLogement_photo-nom p {
      display: flex;
      justify-content: right;
      font-size: 12px;
      align-items: center;
      margin: 0;
      padding: 0;
  }
}

