.footer {
    background-color: black;
    height: 209px;
    align-content: center;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    @media (max-width: 450px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    &_texte {
        color: white;
        font-size: 24px;
        margin-bottom: 0;
        @media (max-width: 450px) {
            font-size: 12px;
            width: 100px;
          }
    }

    &_logo {
        @media (max-width: 450px) {
            width: 122px;
          }
    }
}