.footer {
    background-color: black;
    height: 209px;
    align-content: center;
    text-align: center;

    &_texte {
        color: white;
        font-size: 24px;
        margin-bottom: 0;
    }
}