.gallery {
    display: flex;
    background-color: rgba(246, 246, 246, 1);
    margin: 30px 60px;
    flex-wrap: wrap;
    border-radius: 25px;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    @media (max-width: 450px) {
        margin: 0;
        background-color: white;
        padding-top: 0;
      }
}