.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
    font-family: "Montserrat", sans-serif;
    @media (max-width: 450px) {
      padding: 20px 10px;
    }

    &__logo {
      @media (max-width: 450px) {
        width: 145px;
      }
      @media (max-width: 340px) {
        width: 110px;
      }
    }

    &__nav {
      display: flex;
      gap: 65px;
      @media (max-width: 450px) {
        gap: 35px;
      }
    }

    &__nav-button {
      color: black;
      font-size: 24px;
      text-decoration: none;
      @media (max-width: 450px) {
        font-size: 12px;
        text-transform: uppercase;
      }
    }
    &__nav-button:hover {
      text-decoration: underline;
    }

    &__nav-button:active {
      text-decoration: underline;
    }

  }
   
  
