.banner {
  position: relative;
  height: 223px;
  border-radius: 25px;
  color: white;
  margin: 30px 60px;
  align-content: center;
  text-align: center;
  font-size: 48px;
  content: "";
  background-size: cover;
  border-radius: 25px;
  background-position: center;
  filter: brightness(0.5);
  
  @media (max-width: 768px) {
      border-radius: 10px;
    }

  @media (max-width: 768px) {
    margin: 0px 15px 10px;
      height: 111px;
      text-align: left;
      border-radius: 10px;
    }
}

.bannerRoot {
  position: relative;
}

.bannerRoot h1 {
  position: absolute;
  color: white;
  top: 45px;
  left: 20%;
  font-size: 48px;
  font-family: "Montserrat", sans-serif;
  @media (max-width: 768px) {
      font-size: 24px;
      width: 225px;
      padding-left: 15px;
      top: 10px;
      left: 5%;
    }
    @media (min-width: 769px) and (max-width: 1024px) {
      width: 60%;
    }
}