
.collapse {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__header {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        height: 28px;
        background-color: #FF6060;
        color: #fff;;
        font-size: 18px;
        padding: 10px 20px 10px 20px;
        border-radius: 10px;
        align-items: center;
        font-weight: 700;
        cursor: pointer;
        @media (max-width: 768px) {
                font-size: 13px;
                height: 20px
        }
    }
}

.visible.collapse {
    position: relative;
    top: -10px;
    font-size: 18px;
    color: black;
    background-color: rgb(246, 246, 246);
    margin: 0;
    border-radius: 10px;
    z-index: -1;    /* passe la zone de contenu sous la zone de titre*/

    ul {
        color: black;
        padding: 36px 27px 19px 18px;
        margin: 0;
        text-align: justify;
        list-style-type: none;
        @media (max-width: 768px) {
                font-size: 12px;
                padding: 23px 7px 5px 11.5px;
        }
        
    }
}


/* affiche le contenu */
.visible {
    display: block;
}

/* cache le contenu */
.hidden {
    display: none;
}


/////// page a propos

.about {
    display: flex;
    flex-direction: column;
    margin: 0px 150px 30px;
    @media (max-width: 768px) {
        margin: -10px 15px 20px;
      }
}

.flex {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
}
